@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-size: 20px;
  background: #363636;
  font-family: Roboto, sans-serif;
 }

 .main{
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
 }

 #img {
  border-radius: 20px;
  width: 600px;
  height: 500px;
}

 #text{
  align-self: center;
  margin-left: 20px;
  color: #f1f1f1;
 }

 h4{
  color: rgb(252, 132, 132);
  opacity: 0.8;
 }

 .social{
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
 }

#insta:hover{
  color:  #f1f1f1;
  transition: 0.9s;
  background: #83346a;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
 }

 #Twitter:hover{
  background: #0072b1;
  color: #fff;
  transition: 0.5s;
 }

 #Youtube:hover{
  background: #c72525;
  color: #fff;
  transition: 0.5s;
 }

 #steam:hover{
  color:  #ffffff;
  transition: 0.9s;
  background-color: #171a21;
 }

 .description{
  font-size: 17px;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
  max-width: 850px;
  padding: 10px;
  background-color: #363637;
  margin-top: 20px;
  justify-content: center;
 }
 

 footer3{
  position: absolute;
  text-align: end;
  font-size: 17px;
  font-weight: 200;
  padding: 50px;
  font-style: normal;
  color: #fff;
}


p{
  text-align: center;
  font-size: 35px;
  font-style: italic;
  color: rgb(196, 196, 196);
  margin-bottom: 70px;
}

h1{
  color: rgb(241, 197, 197);
  text-align: center;
}


 footer{
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding: 50px;
  font-style: oblique;
  color: antiquewhite;
}


#luiz{
  font-weight: bold;
}

#luiz:hover{
  color: crimson;
  opacity: 0.8;
  transition: 0.5s;
}

.img1{
  width: 500px;
  margin-left: 450px;
  margin-bottom: 35px;
  margin-top: 15px;
}

a{
  color: rgb(183, 114, 248);
}
